@model List<prjITicket.Models.Article>
@{
    @functions{
        public static string RemoveHtml(String html)
        {
            string text = System.Text.RegularExpressions.Regex.Replace(html, "<[^>]+>", "");
            text = System.Text.RegularExpressions.Regex.Replace(text, "&[^;]+;", "");
            return text;
        }
        int count = 0;
    }
    ViewBag.Title = "forum_mainblock";
}
<link href="~/Content/Forum_use/Forum.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="position:relative;">
            <div class="sidebar">

                <div>
                    <a href="http://localhost:49752/Forum/forum_mainblock" class="Active">電影娛樂新視界</a>
                </div>
                <div>
                    <a href="http://localhost:49752/Forum/forum_mainblock">大眾交通討論板</a>
                </div>
                <div class="navbar-fixed-bottom" style="bottom:100px;">
                    <a href="~/Forum/before_Add_article" class="btn btn-info btn-lg" style="font-size:75px;position:fixed; bottom:50px;">
                        <span class="glyphicon"></span> 發文
                    </a>
                </div>
            </div>
        </div>
        <div class=" col-10">
            <div class="container">
                <!-- Page Content -->
                <!-- Page Heading -->
                <h1 class="my-4">
                    電影娛樂新視界
                    <small>Secondary Text</small>
                </h1>
                <!-- Project One -->
                @foreach (var item in Model)
                {

                    <div class="row">
                        <div class="col-md-6">
                            <a href="~/Forum/forum_content/?articleID=@item.ArticleID"><img id="img@(count)" class="img-fluid rounded mb-3 mb-md-0" src="@item.Picture" alt=""></a>
                        </div>
                        <div class="col-md-6">
                            @Html.ActionLink("刪除", "Delete", "Forum", new { articleID = item.ArticleID }, null)
                            @Html.ActionLink("編輯", "before_Edit_article", "Forum", new { articleID = item.ArticleID }, null)
                            <h3>@Html.ActionLink(string.IsNullOrEmpty(item.ArticleTitle) ? "沒有標題" : item.ArticleTitle, "forum_content", "Forum", new { articleID = item.ArticleID }, null)</h3>
                            <p id="content" style="overflow:hidden;white-space: nowrap;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;white-space: normal;">
                                @RemoveHtml(item.ArticleContent)
                            </p>
                            @Html.ActionLink("更多", "forum_content", "Forum", new { articleID = item.ArticleID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>

                    <hr>
                    count++;
                }
                <!-- Pagination -->
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
</script>